body {
    font-family: 'Poppins', sans-serif;
}

.img-background {
    background-image: url(images/donation12.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 60px 250px 100px;
}

.heading {
    color: white;
    font-size: 5em;
}

#letterwhite {
    color: white;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    color: white;
    padding: 15px 50px;
    font-weight: 700;
    border-radius: 7px;

}

.box {

    text-align: center;
    padding: 80px 240px;
}

.allbox {
    display: flex;

}

.tk {
    width: 50%;
    margin-left: 15px;
    padding: 30px;
    background-color: whitesmoke;
    color: gray;
}

.fontbig {
    font-size: 3em;
}

.huminity {
    text-align: center;
    padding: 80px 280px;

}



.plane-a {
    width: 250px;
    background-color: gray;
    padding: 50px;
    margin: 20px;
}

.plane-b {
    width: 250px;
    background-color: rgb(0, 90, 128);
    padding: 50px;
    margin: 20px;
}

.plane-c {
    width: 250px;
    background-color: yellow;
    padding: 50px;
    margin: 20px;
}

.planeall {
    display: flex;
}

.life {
    display: flex;
    padding-left: 12px;
}

.half {
    width: 50%;
    padding: 10px;
}

.half img {
    width: 80%;
}

.update {
    text-align: center;
    padding: 80px 280px;
}

.email {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}